p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.project-card {
  width: 350px;
  max-width: 400px;
  min-width: 350px;
  margin: 20px;
}

.project-card:hover {
  border: 5px black solid;
  border-radius: 5px;
}

@media only screen and (max-width: 800px) {
  .project-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .project-row > * {
    margin: 50px;
  }
  .project-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
